/**
 * Blue version styles
 */
body.special-blue,
.special-blue div,
.special-blue aside,
.special-blue footer,
.special-blue header,
.special-blue form,
.special-blue article {
    background-color: #c1d1e6 !important;
    background-image: none !important;
    color: #3f5077 !important;
}

.special-blue * {
    box-shadow: none;
    border-color: rgba(136, 136, 136, 0.24) !important;
}


.special-blue input,
.special-blue textarea {
    background-color: #d9e4f7 !important;
    color: #36465b !important;
}

.special-blue a {
    color: #082a90 !important;
}

.special-blue a:hover {
    color: #0034d2 !important;
}