/**
 * Green version styles
 */
body.special-green,
.special-green div,
.special-green aside,
.special-green footer,
.special-green header,
.special-green form,
.special-green article {
    background-color: #2b2924 !important;
    background-image: none !important;
    color: #33d24a !important;
}

.special-green * {
    box-shadow: none;
    border-color: rgba(136, 136, 136, 0.24) !important;
}

.special-green input,
.special-green textarea {
    background-color: #211f1a !important;
    color: #44e963 !important;
}

.special-green a {
    color: #98ff81 !important;
}

.special-green a:hover {
    color: #c8ffbb !important;
}

