/**
 * White version styles
 */
body.special-white,
.special-white div,
.special-white aside,
.special-white footer,
.special-white header,
.special-white form,
.special-white article {
    background-color: #121213 !important;
    background-image: none !important;
    color: #d0d0d0 !important;
}

.special-white * {
    border-color: #212121 !important;
    box-shadow: none;
}

.special-white input,
.special-white textarea {
    background-color: #1d1d1d !important;
    color: #fff !important;
}

.special-white a {
    color: #fff !important;
}

.special-white a:hover {
    color: #ff960a !important;
}
